.fileInput {
	display: none;
}
.fileInputLogo {
	width: 25px;
	height: 25px;
	border: 1px solid rgb(173, 169, 169);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	color: rgb(173, 169, 169);
	cursor: pointer;
}
.writeForm {
	margin-left: 150px;
	margin-top: 150px;
    position: relative;
}
.writeFormGroup {
	display: flex;
	align-items: center;
}
.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}
.writeInput:focus{
    outline: none;
}
.writeText{
    font-size: 20px;
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.writeImage{
    display: block;
    margin:  auto 150px;
    width: 70vw;
    object-fit: cover;
    height: 300px;
}