.fileInput {
	display: none;
}
.fileInputLogo {
	width: 25px;
	height: 25px;
	border: 1px solid rgb(173, 169, 169);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	color: rgb(173, 169, 169);
	cursor: pointer;
}
.writeForm div{
    margin-top: 10px;
    text-align: center;
}
.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    margin-top: 10px;
}
.writeInput:focus{
    outline: none;
}
.writeText{
    font-size: 20px;
}
.writeSubmit{
    color: white;
    /* background-color: teal; */
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.writeImage{
    width: 70vw;
    object-fit: contain;
    height: 300px;
}
.bg-theme{    
    background-color: hsl(206deg 8% 17%);
    color: rgb(255, 255, 255);
}
.write{
    display: flex;
    flex-direction: column;
    align-items: center;
}