@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
.post {
    background-color: hsl(206deg 8% 17%);
    transition: transform 0.3s ease-in-out;
}
.post:hover {
    /* box-shadow: rgba(116, 109, 109, 0.2) 0px 7px 29px 0px; */
    transform: scale(1.1);
}
.postImage {
    width: 100%;
    height: 280px;
    object-fit: contain;
    border-radius: 8%;
}
.postInfo {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.postCategery{
    margin-top: 10px;
}
.postCat {
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    color: #000000;
    border-radius: 8px;
    margin-top: 10px;
    background-color: hsl(202deg 81% 86%);
    padding: 6px;
    margin-right: 10px;
    cursor: pointer;
}
.postTitle {
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 15px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.postDate {
    color: rgb(223, 216, 216);
    font-size: 13px;
    margin-top: 10px;
}
.postDesc {
    font-family: "Varela Round", sans-serif;
    font-size: 0.8rem;
    color: rgb(180, 179, 179);
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
