.sidebar {
    grid-area: sidebar;
    display: grid;
    color: aliceblue;
    justify-content: center;
    height: max-content;
}
.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sideBarList {
    list-style: none;
    margin-bottom: 30px;
}
.sideBarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a7a4;
    border-bottom: 1px solid #a7a7a4;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    font-family: "Varela", sans-serif;
}

.sidebarItem > img {
    padding-top: 15px;
    width: 100%;
}
.sidebarItem > p {
    padding: 30px;
    font-family: "Varela Round", sans-serif;
}
.sideBarListItem {
    width: 100%;
    border-bottom: 1px solid white;
    margin-top: 15px;
    padding-bottom: 12px;
    cursor: pointer;
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    text-transform: capitalize;
}
.sideBarSocialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
}
.sideBarBottomIcons {
    margin: 1%;
    cursor: pointer;
}

.about-container{
    background-color: hsl(206deg 8% 17%);
    padding: 30px;
    font-family: "Varela Round", sans-serif;
}
.categories-container{
    background-color: hsl(206deg 8% 17%);
    padding: 30px;
    margin-top: 40px;

}