.singlePost{
    flex: 9;
}
.singlePostImage{
    width: 100%;
    object-fit: cover;
    height: 350px;
    border-radius: 5px;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}

.singlePostTitle{
    text-align: center;
}